<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Note</h1>
    <h2><%= response[0].title%></h2>
    <h4>
      <%= response[0].lastname%> <%= response[0].firstname%>
      <p><%= response[0].created_at%></p>
    </h4>

    <p><%= response[0].content%></p>
    <a href="/note/edit/<%= response[0].id %>">modifier</a>
    <a href="/note">retour</a>
  </body>
</html>
